<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改课程介绍')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-info-edit" th:object="${xtCourseInfo}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label">课程介绍内容：</label>
                <div class="col-sm-8">
                    <textarea name="content" class="form-control">[[*{content}]]</textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">图片地址：</label>
                <div class="col-sm-8">
                    <input name="imgUrl" th:field="*{imgUrl}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">课程类型：</label>
                <div class="col-sm-8">
                    <select name="courseType" class="form-control m-b">
                        <option value="机器人工程技术">机器人工程技术</option>
                        <option value="物联网工程技术">物联网工程技术</option>
                        <option value="区块链工程技术">区块链工程技术</option>
                        <option value="人工智能工程技术">人工智能工程技术</option>
                        <option value="AI数据科学">AI数据科学</option>
                        <option value="1+x考试">1+x考试</option>
                        <option value="职业技能考试">职业技能考试</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "business/info";
        $("#form-info-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-info-edit').serialize());
            }
        }
    </script>
</body>
</html>